
@import "abstracts/mixins";
@import "abstracts/variables";


@import "components/nav";
@import "components/card";
@import "components/container";

@import "layout/header";
@import "layout/resume";
@import "layout/services";
@import "layout/asociados";
@import "layout/values";
@import "layout/contact";
@import "layout/more-info";
@import "layout/footer";

@import "pages/service";

@import "base/animations";
@import "base/base";