.form-invitation {
    height: 300px;
    background-image: linear-gradient(rgba($color-text, 0.8), rgba($color-text, 0.8)), url("https://suabogado.info/wp-content/uploads/2020/02/Abogados-inmobiliarios.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;

    & h3 {
        max-width: 80%;
    }
}

.contact {
    width: 1200px;
    max-width: 90%;
    padding: 5rem 4rem 4rem 4rem;
    text-align: center;
    background-image: linear-gradient(rgba(white, .4), rgba(white, .4)), url("https://img.freepik.com/vector-gratis/fondo-color-degradado-gris-blanco-abstracto_125759-204.jpg?size=626&ext=jpg");
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;

    & h3 {
        margin-bottom: 3rem;
    }

    & span {
    }

    &__form {
        margin-top: 6rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        & input,
        & textarea {
            width: 100%;
            padding: 2rem;
            font-size: 16px;
            border: none;
            outline: none;
            // border-radius: 10rem;
            background-color: #f5f5f5;
            margin-bottom: 2rem;
        }

        & input {
            flex: 0 1 calc(50% - 2rem);

            @include respond(tab-port) {
                flex: 0 1 100%;
            }

        }

        & textarea {
            height: 200px;
            flex: 0 1 100%;
            font-family: 'Poppins', sans-serif;
        }

        & button {

            & span {
                font-size: 18px !important;
            }
        }

    }

}