.services {
    font-weight: 700;

    &__list {
        // display: flex;
        // justify-content: space-between;
        width: 1000px;
        max-width: 90%;
        margin: 0 auto 3rem auto;
        // text-align: center;
        display: flex;
        // flex-wrap: wrap;
        margin: 5rem auto;
        align-items: center;
        justify-content: center;
        

        & ul {
            // width: 80%;
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            list-style-type: disc;
            color: $color-primary;
            font-size: 20px;
            // grid-column: 1;
            flex: 0 1 calc(33% -4rem);
            // align-self: center;

            & li {
                // color: rgb(240, 240, 240);
                text-align: left;
            }
        }

        @include respond(tab-port){
            flex-direction: column;

            & ul {
                align-items: flex-start;
                margin-left: 3rem;
            }
        }
    }

}