nav {
    // @include respond(from-tab-land){
    //     position: fixed;
    // }

    position: fixed;

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 99;

    background-color: white;
    @include shadow;
    // height: 80px;
    width: 100%;


    transition: .3s all linear;

    & .logo {
        transition: .3s all linear;

        & img {
            width: 130px;
            transition: .3s all linear;
        }
    }

    & ul {
        text-decoration: none;
        list-style: none;
        display: flex;
        transition: .3s all linear;

        & li {
            margin-right: 2rem;
            transition: .3s all linear;

            &:last-child {
                margin: 0;
            }

            & a {
                font-weight: 400;
                color: $color-text;
                padding: 1rem 2rem;
                transition: .2s all linear;
                border-color: $color-primary;

                &:hover {
                    border-bottom: 2px solid $color-primary;
                }
            }
        }
    }

    & li.active a {
        border-bottom: 2px solid $color-primary;
        color: black;
    }
}

.nav-check {
    font-size: 25px;
    color: $color-text;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@include respond(tab-port){
    .nav {
        height: 60px;
        padding: 1rem 2rem;
        align-items: center;

        & .logo {
            order: 2;
            & img {
                width: 95px;
                transition: .3s all linear;
            }
        }

        & ul {
            flex-direction: column;
            align-items: center;
            // justify-content: center;
            position: fixed;
            height: 100vh;
            width: 70vw;
            background-color: $color-text;
            left: -100%;
            top: 6.7rem;

            & li {
                cursor: pointer;
                display: flex;
                align-items: center;

                &:first-child {
                    margin-top: 10rem;
                }
                margin: 0;
                height: 70px;
                width: 100%;
                
                & a {
                    color: white;
                    padding: 3rem auto;
                    font-size: 18px;
                    line-height: 0;
                    margin: 0;
                }
            }

            & li.active,
            & li:hover {

                    background-color: $color-primary;
                
            }

        }
    }
    .nav-check {
        display: block;
        margin-left: .5rem;
        margin-top: 8px;
    }
    
    #check {
        // display: block;

        &:checked ~ ul {
            left: 0;
        }
    }
}



.mobile {
    @include respond(from-tab-land){
        display: none;
    }
    position: fixed;
    bottom: 0;
    // height: 40px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    background-color: $color-text;

    .btn {
        width: 45%;
        text-align: center;
        padding: 15px 0;
    }
}

.display {
    
}